<h2 style='color:purple' align='center'>Naive Bayes: Predicting survival from titanic crash</h2>

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

   PassengerId                                               Name  Pclass     Sex  ...     Fare  Cabin  Embarked Survived
0            1                            Braund, Mr. Owen Harris       3    male  ...   7.2500    NaN         S        0
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...       1  female  ...  71.2833    C85         C        1
2            3                             Heikkinen, Miss. Laina       3  female  ...   7.9250    NaN         S        1
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1  female  ...  53.1000   C123         S        1
4            5                           Allen, Mr. William Henry       3    male  ...   8.0500    NaN         S        0

[5 rows x 12 columns]

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns',inplace = True)

df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
target = df.Survived

inputs = df.drop('Survived',axis= 'columns')

In [4]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [5]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [6]:
inputs.drop('Sex',axis = 'columns',inplace = True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [11]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [13]:
len(X_train)

712

In [14]:
len(X_test)

179

In [19]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [20]:
model.fit(X_train,y_train)

GaussianNB()

In [21]:
model.score(X_test,y_test)

0.776536312849162

In [23]:
y_test[:10]

411    0
450    0
195    1
201    0
401    0
74     1
631    0
441    0
662    0
702    0
Name: Survived, dtype: int64

In [22]:
model.predict(X_test[:10])

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [24]:
model.predict_proba(X_test[:10])

array([[9.89877520e-01, 1.01224802e-02],
       [9.78793684e-01, 2.12063163e-02],
       [2.90597036e-06, 9.99997094e-01],
       [9.66295791e-01, 3.37042091e-02],
       [9.89388881e-01, 1.06111194e-02],
       [9.80552982e-01, 1.94470182e-02],
       [9.90555943e-01, 9.44405704e-03],
       [9.88168021e-01, 1.18319791e-02],
       [9.31014764e-01, 6.89852358e-02],
       [2.97910715e-02, 9.70208928e-01]])